html,
body{
	background-color:#c1c1c1;
  margin:0;
  padding:0;
  font-weight: 100;
  font-size: 10px;
  font-family: 'helvetica neue', helvetica,arial,verdana,sans-serif;
  color:#eee;
}

html {
  overflow-x:hidden;
}

head{display:block;}
title{display:block; height:45px; padding:0.4em 2em 0.2em 30px; background-color:#191919; margin:0 auto; font-size:32px; /*font-weight:bold;*/ color:#fff; box-shadow: 0 5px 20px 0 #333;}

body {
  padding-left: 3em;
}

abbr {
  border:none;
}


em,
.date span,
.date abbr{
  font-size: 58px;
  font-weight: 100;
  font-style: normal;
  overflow: hidden;
  white-space: nowrap;
  display: inline;
}

em {
  display: block;
  margin: 1em 0 0.5em 0;
}


.date {
  font-size: 0;
  border: none;
  color: #515151;
  font-size: 0;
  font-weight: bold;
  color: #313131;
  transform: translateZ(0);
}


.date .extra,
.date abbr:after {
  width: auto;
  opacity: 1;
  letter-spacing: 0;
}

.date abbr.wed:after {
  content:'nesday';
}
.date abbr.aug:after {
  content:'ust';
}

@media only screen and (max-width: 850px) {

  .date .extra,
  .date abbr:after,
  .date .full {
     -moz-transition: opacity 0.6s ease 0s, letter-spacing 0.6s ease 0s;
     -webkit-transition: opacity 0.6s ease 0s, letter-spacing 0.6s ease 0s;
     transition: opacity 0.6s ease 0s, letter-spacing 0.6s ease 0s;
    opacity: 0 ;
    letter-spacing: -0.67em;
  }

}

@media only screen and (min-width: 851px) {

  .date .extra,
  .date abbr:after,
  .date .full {
     -moz-transition: opacity 0.6s ease 0s, letter-spacing 0.6s ease 0s;
     -webkit-transition: opacity 0.6s ease 0s, letter-spacing 0.6s ease 0s;
     transition: opacity 0.6s ease 0s, letter-spacing 0.6s ease 0s;
    opacity: 1;
    letter-spacing: 0;
  }

}


.desc {
  position: relative;
  max-width: 500px;
  min-width: 100px;
  margin: 0;
  font-size: 26px;
  font-weight: 200;
  line-height: 1.3em;
  color: #fff;
}


.instructions {
  position: relative;
  margin-top: -1em;
  left: 820px;
  width: 0;
  border: 0 dashed #999;
  border-right-width: 3px;
  font-size: 54px;
  height: 4.2em;
  color: #A2EDFF; /*#A2EDFF*/ /*#00CED1;*/
}

.instructions .full,
.instructions .abbr,
.instructions .full:before,
.instructions .abbr:after  {
  position: absolute;
  margin: 0;
  padding:0 0.5ex;
}

.instructions .full {
  left: 100%;
  top: 1em;
}

.instructions .abbr {
  right: 100%;
  bottom: 1em;
}

.instructions .full:before,
.instructions .abbr:after {
  top: -0.2ex;
}

.instructions .full:before {
  content: "\2192";
  right: 100%;
}

.instructions .abbr:after {
  content: "\2190";
  left: 100%;
}

